<div class="container">
    <div class="py-5 my-0 text-center">

        @if (!registerMode) {
        <h1 class="display-5 fw-bold text-body-emphasis">Find your match</h1>
        <p class="lead">Come on in to view your matches... all you have to do is sign up</p>
        <div class="d-flex justify-content-center gap-3">
            <button type="button" (click)="registerToggle()" class="btn btn-primary btn-lg">Register</button>
            <button type="button" class="btn btn-secondary btn-lg">Learn more</button>
        </div>
        } @else {
            <div class="row justify-content-center">
                <app-register></app-register>
                <!-- <div class="col-4">
                    <p>Register form goes here...</p>
                </div> -->
            </div>
        }
    </div>
</div>